        <!-- Sidebar -->
                            <div class="sidebar">
                                <div class="recent-post widget">
                                    <h3>Recent Posts</h3>
                                    <p>Lorem ipsum</p>
                                    <%= render 'shared/form_sidebar' %>
                                </div>

                                <div class="recent-post widget">
                                    <h3>Facebook</h3>
                                    <p>Facebook widget</p>
                                </div>
                            </div>
                        </div>