/ Sidebar
.sidebar
  .recent-post.widget
    %h3 Recent Posts
    %p Lorem ipsum
    = render 'contacts/form'
  .recent-post.widget
    / Facebook Widget
    %h3 Facebook
    .fb-page{"data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/flowery.school", "data-show-facepile" => "true", "data-small-header" => "true", "data-tabs" => "timeline"}
    .fb-xfbml-parse-ignore
      %blockquote{:cite => "https://www.facebook.com/flowery.school"}
        %a{:href => "https://www.facebook.com/flowery.school"} Школа флористики &quot;Flowery&quot;
    / VK Widget
    %h3 Вконтакте
    #vk_groups