<!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="contact-section">
            <div class="container">
                <div class="row address-details">
                    <div class="col-md-6">
                        <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <i class="ion-ios-email-outline"></i>
                            <p>s.pomazun@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <i class="ion-ios-telephone-outline"></i>
                            <p>095 557 17 89<br>096 517 17 36</p>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                       <p class="copyright">Flowery. Copyright: <span>2016</span></p>
                    </div>
                    <div class="col-md-4">
                        <!-- Social Media -->
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/flowery.school/" class="Facebook">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <!--<li>
                                <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                                    <i class="ion-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="Linkedin">
                                    <i class="ion-social-linkedin"></i>
                                </a>
                            </li>-->
                            <li>
                                <a href="http://vk.com/club56301378" class="Google Plus">
                                    <i class="ion-social-googleplus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer> <!-- /#footer -->