/ Call To Action Section Start
%section#contact-section
  .container
    .row.address-details
      .col-md-6
        .email.wow.fadeInLeft{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms"}
          %i.ion-ios-email-outline
          %p s.pomazun@gmail.com
      .col-md-6
        .phone.wow.fadeInLeft{"data-wow-delay" => ".9s", "data-wow-duration" => "500ms"}
          %i.ion-ios-telephone-outline
          %p
            095 557 17 89
            %br 096 517 17 36
/ Footer Section Start
%footer#footer
  .container
    .col-md-8
      %p.copyright
        Flowery. Copyright:
        %span 2016
    .col-md-4
      / Social Media
      %ul.social
        %li
          %a.Facebook{:href => "https://www.facebook.com/flowery.school/"}
            %span.label
              Flowery Facebook
            %i.ion-social-facebook
        %li
          %a.Google.Plus{:href => "http://vk.com/club56301378"}
            %span.label
              Flowery Vkontakte
            %i.ion-social-googleplus