<form id="contact-form" method="post" action="sendmail.php" role="form">
    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
        <input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
    </div>
                                  
    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
        <input type="email" placeholder="Your Email" class="form-control" name="email" id="email" >
    </div>
                                    
    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
        <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>    
    </div>
                                    
    <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
        <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Send Message">
    </div>
</form>