        <!--
        ==================================================
        Menu Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="/" >
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#catalog">Каталог</a></li>
                            <li><a href="#about">О нас</a></li>
                            <li><a href="#school">Школа</a></li>
                            <li><a href="#blog">Блог</a></li>
                            <li><a href="#contact-section">Контакты</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <!--<section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>СВАДЕБНАЯ ФЛОРИСТИКА</span><br>
                                <img src="/images/logo_full.png">
                                </h1>
                            </section>                                 
                        </div>
                    </div>
                </div>
            </div>
        </section-->><!--/#main-slider-->