<section id="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                        	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s"><br />Благодарим за ваше письмо. Мы с вами свяжемся в ближайшее время!</h2>
                        </div>
                    </div>
                </div>
            </div>
</section>
