<section id="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                        	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s"><br />Форма обратной связи</h2>
                        	<div class="contact-form">
                                <%= render 'form' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
