/ Contact us form
%section#contact-section
  .container
    .row
      .col-md-12
        .block
          %h2.subtitle.wow.fadeInDown{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"}
            %br>/
            Форма обратной связи
          .contact-form
            = render 'form'