            <section id="catalog" class="works">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Каталог</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            бла бла бла
                        </p>
                    </div>
                    <div class="row">
                      <% @albums.each do |album| %>
                        <div class="col-sm-3 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <%= image_tag album.image.url, :class => 'img-responsive', :alt => album.title, :title => album.title %>
                                    <div class="overlay">
                                        <div class="buttons">
                                            <%= link_to "Open", album, :rel => "gallery", :class => "fancybox", :method => :get  %>
                                            <a target="_blank" href="single-portfolio.html">Details</a>
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                <a href="#">
                                    <%= album.title %>
                                </a>
                                </h4>
                                <p>
                                    <%= album.description %>
                                </p>
                                </figcaption>
                            </figure>
                        </div>
                      <% end %>
                    </div>
                </div>
            </section> 