/ 404 error page
%section.moduler.wrapper_404
  .container
    .row
      .col-md-12
        .text-center
          %h1.wow.fadeInUp.animated.cd-headline.slide{"data-wow-delay" => ".4s"} 404
          %h2.wow.fadeInUp.animated{"data-wow-delay" => ".6s"} Ой! Похоже вы не туда попали
          %p.wow.fadeInUp.animated{"data-wow-delay" => ".9s"} Страница которую вы ищете не существует, или она была удалена
